flows.json
[
    {
        "id": "8d56d03bea1b2724",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "091e3e1b01889a61",
        "type": "mqtt in",
        "z": "8d56d03bea1b2724",
        "name": "RPi Broker patioLights",
        "topic": "patioLights",
        "qos": "2",
        "datatype": "auto",
        "broker": "8edadf0ceb978ad1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 660,
        "wires": [
            [
                "0f88c497fd727840",
                "093349a6f7ad70a9",
                "20e781f4e8f8125a"
            ]
        ]
    },
    {
        "id": "0f88c497fd727840",
        "type": "debug",
        "z": "8d56d03bea1b2724",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 660,
        "wires": []
    },
    {
        "id": "093349a6f7ad70a9",
        "type": "exec",
        "z": "8d56d03bea1b2724",
        "command": "python ~/mu_code/scripts/rf_patio_transmit.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 600,
        "y": 780,
        "wires": [
            [
                "8a0a05918d9c61af"
            ],
            [
                "9f0850623c591163"
            ],
            [
                "027b703fdd24a4c2",
                "cb338c2a9aa63b02"
            ]
        ]
    },
    {
        "id": "8a0a05918d9c61af",
        "type": "debug",
        "z": "8d56d03bea1b2724",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 700,
        "wires": []
    },
    {
        "id": "9f0850623c591163",
        "type": "debug",
        "z": "8d56d03bea1b2724",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 740,
        "wires": []
    },
    {
        "id": "027b703fdd24a4c2",
        "type": "debug",
        "z": "8d56d03bea1b2724",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 780,
        "wires": []
    },
    {
        "id": "61bdbbb77aceb7cc",
        "type": "inject",
        "z": "8d56d03bea1b2724",
        "name": "7:00pm Lights On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "00 19 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "e91247eb39e65f58",
                "2ec1d9b4b84eb451"
            ]
        ]
    },
    {
        "id": "e91247eb39e65f58",
        "type": "mqtt out",
        "z": "8d56d03bea1b2724",
        "name": "RPi Broker patioLights",
        "topic": "patioLights",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8edadf0ceb978ad1",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "0a8b46906abfc42d",
        "type": "inject",
        "z": "8d56d03bea1b2724",
        "name": "2am Lights Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 02 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "2623b626187dda20"
            ]
        ]
    },
    {
        "id": "174d22143fa1baf9",
        "type": "mqtt out",
        "z": "8d56d03bea1b2724",
        "name": "RPi Broker patioLights",
        "topic": "patioLights",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8edadf0ceb978ad1",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "41db169492deb898",
        "type": "discordMessage",
        "z": "8d56d03bea1b2724",
        "name": "",
        "token": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "f8526d4603c35eaf",
                "91ce59c4c7e2345c"
            ]
        ]
    },
    {
        "id": "f8526d4603c35eaf",
        "type": "debug",
        "z": "8d56d03bea1b2724",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 460,
        "wires": []
    },
    {
        "id": "91ce59c4c7e2345c",
        "type": "switch",
        "z": "8d56d03bea1b2724",
        "name": "if msg.channel.name == \"patiolights\"",
        "property": "channel.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "patiolights",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "4908551a4b56d525"
            ]
        ]
    },
    {
        "id": "a7c76488b51676d9",
        "type": "mqtt out",
        "z": "8d56d03bea1b2724",
        "name": "RPi Broker patioLights",
        "topic": "patioLights",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8edadf0ceb978ad1",
        "x": 1480,
        "y": 520,
        "wires": []
    },
    {
        "id": "70d7f39b7a276e66",
        "type": "comment",
        "z": "8d56d03bea1b2724",
        "name": "Daily Schedule",
        "info": "",
        "x": 160,
        "y": 100,
        "wires": []
    },
    {
        "id": "57856d9d0acdde7b",
        "type": "comment",
        "z": "8d56d03bea1b2724",
        "name": "Push Messages From Discord to the MQTT broker",
        "info": "",
        "x": 270,
        "y": 420,
        "wires": []
    },
    {
        "id": "b662ec359327780f",
        "type": "comment",
        "z": "8d56d03bea1b2724",
        "name": "Actions Directed From MQTT Broker",
        "info": "",
        "x": 220,
        "y": 620,
        "wires": []
    },
    {
        "id": "37710547eb6b85aa",
        "type": "comment",
        "z": "8d56d03bea1b2724",
        "name": "Patio Lights",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "64a10c3d9d6005cc",
        "type": "comment",
        "z": "8d56d03bea1b2724",
        "name": "Only forward messages from the patiolights channel",
        "info": "",
        "x": 550,
        "y": 520,
        "wires": []
    },
    {
        "id": "d53697109b5e96ef",
        "type": "comment",
        "z": "8d56d03bea1b2724",
        "name": "Run the RF transmit script",
        "info": "",
        "x": 510,
        "y": 740,
        "wires": []
    },
    {
        "id": "05b233f3630e4536",
        "type": "comment",
        "z": "8d56d03bea1b2724",
        "name": "Report the topic update to Discord ",
        "info": "",
        "x": 1380,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e21f652302872085",
        "type": "join",
        "z": "8d56d03bea1b2724",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "join",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 690,
        "y": 900,
        "wires": [
            [
                "df11384755fdd4db",
                "2dc8d011b5165678"
            ]
        ]
    },
    {
        "id": "20e781f4e8f8125a",
        "type": "change",
        "z": "8d56d03bea1b2724",
        "name": "Prep for join",
        "rules": [
            {
                "t": "set",
                "p": "join",
                "pt": "msg",
                "to": "mqtt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 900,
        "wires": [
            [
                "e21f652302872085",
                "4d21968a2d0d577c"
            ]
        ]
    },
    {
        "id": "cb338c2a9aa63b02",
        "type": "change",
        "z": "8d56d03bea1b2724",
        "name": "Prep for join",
        "rules": [
            {
                "t": "set",
                "p": "join",
                "pt": "msg",
                "to": "code",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.code",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 860,
        "wires": [
            [
                "e21f652302872085",
                "501f78dbf1e6b1c6"
            ]
        ]
    },
    {
        "id": "df11384755fdd4db",
        "type": "switch",
        "z": "8d56d03bea1b2724",
        "name": "If exit code is 0",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 1040,
        "wires": [
            [
                "d73445616a9ea577"
            ],
            [
                "a2e30648c8f1db00"
            ]
        ]
    },
    {
        "id": "80fd4f6f507b9483",
        "type": "discordSendMessage",
        "z": "8d56d03bea1b2724",
        "name": "",
        "channel": "",
        "token": "",
        "x": 1360,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6655c2ea2d120e45",
        "type": "debug",
        "z": "8d56d03bea1b2724",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 1180,
        "wires": []
    },
    {
        "id": "d73445616a9ea577",
        "type": "change",
        "z": "8d56d03bea1b2724",
        "name": "Success Discord message",
        "rules": [
            {
                "t": "set",
                "p": "code",
                "pt": "msg",
                "to": "payload.code",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "1403543416435900457",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "payload.mqtt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " $join(['The lights are now ', msg.payload.mqtt])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1020,
        "wires": [
            [
                "80fd4f6f507b9483",
                "6655c2ea2d120e45",
                "b3884b3c403526b5"
            ]
        ]
    },
    {
        "id": "a2e30648c8f1db00",
        "type": "change",
        "z": "8d56d03bea1b2724",
        "name": "Failure Discord message",
        "rules": [
            {
                "t": "set",
                "p": "code",
                "pt": "msg",
                "to": "payload.code",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "1403543416435900457",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Error transmitting RF signal",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1060,
        "wires": [
            [
                "80fd4f6f507b9483",
                "6655c2ea2d120e45"
            ]
        ]
    },
    {
        "id": "306a0c3bc7fc3982",
        "type": "comment",
        "z": "8d56d03bea1b2724",
        "name": "Determine a Discord message based on exec exit code",
        "info": "",
        "x": 940,
        "y": 980,
        "wires": []
    },
    {
        "id": "4908551a4b56d525",
        "type": "function",
        "z": "8d56d03bea1b2724",
        "name": "msg.payload.toLowerCase",
        "func": "msg.payload = msg.payload.toLowerCase()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 560,
        "wires": [
            [
                "c8463ca6e32ddd3b"
            ]
        ]
    },
    {
        "id": "c8463ca6e32ddd3b",
        "type": "function",
        "z": "8d56d03bea1b2724",
        "name": "checkValidCommand",
        "func": "const validCommands = [\n    'on',\n    'off',\n    'white',\n    'red',\n    'blue',\n    'green',\n    'up',\n    'down',\n    'party',\n    'fast',\n    'slow'\n    ]\n    \nmsg.validCommand = validCommands.includes(msg.payload)\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 560,
        "wires": [
            [
                "dcf306373b2971b1"
            ]
        ]
    },
    {
        "id": "dcf306373b2971b1",
        "type": "switch",
        "z": "8d56d03bea1b2724",
        "name": "",
        "property": "validCommand",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1290,
        "y": 560,
        "wires": [
            [
                "a7c76488b51676d9"
            ],
            [
                "7c3fe448cac3412b"
            ]
        ]
    },
    {
        "id": "7c3fe448cac3412b",
        "type": "change",
        "z": "8d56d03bea1b2724",
        "name": "Set Invalid Command Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\"Invalid command.\\n\\nValid commands:\t\\n\t- on\t\\n\t- off\t\\n\t- white\t\\n\t- red\t\\n\t- blue\t\\n\t- green\t\\n\t- up (in brightness; does not consistently work)\t\\n\t- down (in brightness; does not consistently work)\t\\n\t- party (send multiple times to get different patterns)\t\\n\t- fast (take the party up a notch)\t\\n\t- slow (take the party down a notch)\t\"\t)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "1403543416435900457",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 600,
        "wires": [
            [
                "5e391731b81c7ab2"
            ]
        ]
    },
    {
        "id": "5e391731b81c7ab2",
        "type": "discordSendMessage",
        "z": "8d56d03bea1b2724",
        "name": "",
        "channel": "",
        "token": "",
        "x": 1760,
        "y": 600,
        "wires": []
    },
    {
        "id": "5b3de6e4ebde03d3",
        "type": "complete",
        "z": "8d56d03bea1b2724",
        "name": "After 2am Lights Off",
        "scope": [
            "0a8b46906abfc42d"
        ],
        "uncaught": false,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "2ec1d9b4b84eb451"
            ]
        ]
    },
    {
        "id": "2ec1d9b4b84eb451",
        "type": "trigger",
        "z": "8d56d03bea1b2724",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-30",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "4046a054e0778fae"
            ]
        ]
    },
    {
        "id": "b3884b3c403526b5",
        "type": "change",
        "z": "8d56d03bea1b2724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "patiolights",
                "pt": "flow",
                "to": "command",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 1020,
        "wires": [
            [
                "14ff1f928f500e4f"
            ]
        ]
    },
    {
        "id": "529a3036d145ac3d",
        "type": "comment",
        "z": "8d56d03bea1b2724",
        "name": "Store the MQTT message in the flow variable",
        "info": "",
        "x": 1410,
        "y": 980,
        "wires": []
    },
    {
        "id": "4046a054e0778fae",
        "type": "switch",
        "z": "8d56d03bea1b2724",
        "name": "if flow.patiolights != 'off'",
        "property": "patiolights",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "3c676cf2feb4b13d"
            ]
        ]
    },
    {
        "id": "3c676cf2feb4b13d",
        "type": "change",
        "z": "8d56d03bea1b2724",
        "name": "Set msg.payload to 'off'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 200,
        "wires": [
            [
                "b9254c801a6b7f22"
            ]
        ]
    },
    {
        "id": "b9254c801a6b7f22",
        "type": "mqtt out",
        "z": "8d56d03bea1b2724",
        "name": "RPi Broker patioLights",
        "topic": "patioLights",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8edadf0ceb978ad1",
        "x": 1180,
        "y": 200,
        "wires": []
    },
    {
        "id": "2623b626187dda20",
        "type": "switch",
        "z": "8d56d03bea1b2724",
        "name": "if flow.patiolights != 'off'",
        "property": "patiolights",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "174d22143fa1baf9"
            ]
        ]
    },
    {
        "id": "14ff1f928f500e4f",
        "type": "change",
        "z": "8d56d03bea1b2724",
        "name": "Set msg.payload to flow.patiolights for debug",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "patiolights",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1660,
        "y": 1020,
        "wires": [
            [
                "30b4a98b2057a3d4"
            ]
        ]
    },
    {
        "id": "30b4a98b2057a3d4",
        "type": "debug",
        "z": "8d56d03bea1b2724",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 1060,
        "wires": []
    },
    {
        "id": "501f78dbf1e6b1c6",
        "type": "debug",
        "z": "8d56d03bea1b2724",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 860,
        "wires": []
    },
    {
        "id": "4d21968a2d0d577c",
        "type": "debug",
        "z": "8d56d03bea1b2724",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 960,
        "wires": []
    },
    {
        "id": "2dc8d011b5165678",
        "type": "debug",
        "z": "8d56d03bea1b2724",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 900,
        "wires": []
    },
    {
        "id": "8fd42c7d04920c33",
        "type": "inject",
        "z": "8d56d03bea1b2724",
        "name": "8am Lights Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "2ec1d9b4b84eb451"
            ]
        ]
    },
    {
        "id": "d443ceea2f37209c",
        "type": "comment",
        "z": "8d56d03bea1b2724",
        "name": "Join the MQTT message with the output of the exec",
        "info": "",
        "x": 590,
        "y": 860,
        "wires": []
    },
    {
        "id": "8edadf0ceb978ad1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
